@media screen and (min-width: 1024px) {
    section.openjs {
        display: flex;
        padding: 6.5rem 2rem 1rem 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .important-content {
        margin: 2rem 0rem 0 2rem;
        padding: 0;
    }

    div#fizzbozz {
        width: 30vw;
        height: 100%;
    }

    div#atm {
        width: 30vw;
        height: 100%;
    }

    div#bank {
        width: 30vw;
        text-align: -webkit-center;
        height: 100%;
    }

    div#restaurant {
        width: 30vw;
        height: 100%;
    }

    div#villa-platzi {
        width: 30vw;
        height: 100%;
    }

    div#pakiman {
        width: 30vw;
        height: 100%;
        text-align: -webkit-center;
    }
}