@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&family=Raleway:wght@100;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

:root{
    /*colors*/
    --first-color: #000814;
    --second-color: #003566;
    --background: #001d3d;
    --optional-color: #ffb703;
    /*fonts*/
    --fist-font: 'Fredoka', sans-serif;
    --second-font: 'Raleway', sans-serif;
    /*size*/
    --p: 1.6rem;
    --title: 1.8rem;
    --button: 1.3rem;
    /*pseudo*/
    --hover-button: #010e1d;
}

/* Navegation-var */

.header {
    background-color: var(--background);
    color: white;
    position: fixed;
    width: 100%;
}

.navegation-var {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.navegation-var ul li{
    display: inline-block;
}

.logo {
    font-family: var(--second-font);
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

.navegation-icons {
    padding: 0.2rem 0.8rem;
    font-size: 1.5rem;
}

.navegation-icons a{
    color: white;
    text-decoration: none;
}

ul .navegation-icons .menu-icon-active{
    color: gray;
}

ul.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--background);
    padding: 2rem;
    position: fixed;
    left: 100%;
    transition: left 0.5s;
}


ul.menu-active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--background);
    padding: 2rem;
    position: fixed;
    width: 48%;
    left: 52.2%;
}

li.menu-content {
    font-size: var(--title);
    list-style: none;
    font-weight: 600;
    font-family: var(--second-font);
    padding: 1rem;
}

ul .li.menu-content .js-open{
    color: gray;
}

.menu-content a {
    color: white;
    text-decoration: none;
}

/* Home */

p.show-title {
    color: white;
    font-size: var(--title);
    font-family: var(--second-font);
    font-weight: 800;
}

.main {
    background-color: var(--first-color);
    padding: 6rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.important-content {
    margin: 2rem 0 2rem 0;
}

section.main-open {
    display: none;
}

.second-color {
    background-color: var(--background);
    color: white;
    font-family: var(--fist-font);
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 5px;
}

.second-title {
    font-size: var(--title);
    font-weight: bold;
}

.second-text {
    padding: 1rem 0.5rem;
    font-size: var(--p);
    font-weight: 100;
}


/* Content */

.main-content {
    display: none;
    padding-top: 4.5rem;
    flex-direction: column;
    background-color: var(--first-color);
}

section.openjs {
    display: flex;
    padding: 6rem 2rem 1rem;
    flex-direction: column;
    background-color: var(--first-color);
}

.js-content {
    margin: 2rem 0 2rem 0;
}

.jsopen {
    color: gray;
}

.color {
    background-color: var(--second-color);
    padding: 2rem;
    border-radius: 5px;
}

p.title {
    color: white;
    font-size: var(--title);
    font-family: var(--second-font);
    font-weight: 700;
}

p.text {
    color: white;
    font-size: var(--p);
    padding: 1rem 0.5rem;
    font-family: var(--fist-font);
    font-weight: 100;
    margin-bottom: 10px;
}

a.links {
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 0 1.5rem 0 0;
    font-family: var(--second-font);
    background-color: var(--background);
    border-radius: 3px;
    font-size: var(--button);
}

.main-content-web {
    display: none;
    padding-top: 4.5rem;
    flex-direction: column;
    background-color: var(--first-color);
}

section.openweb {
    display: flex;
    padding: 6rem 2rem 1rem;
    flex-direction: column;
    background-color: var(--first-color);
}

.web-content {
    margin: 2rem 0 2rem 0;
}

.img-content img {
    max-width: -webkit-fill-available;
    margin-bottom: 2.5rem;
    border-radius: 10px;
}

.contact-content {
    display: none;
    flex-direction: column;
    padding: 6rem 2rem 1rem;
    font-family: var(--second-font);
    background-color: var(--first-color);
    color: white;
}

section.opencontact {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem 1rem;
    font-family: var(--second-font);
    background-color: var(--first-color);
    color: white;
    height: 100vh;
    justify-content: center;
}

.contact p {
    font-size: var(--title);
    font-weight: 600;
}

form#contact-form {
    display: table-caption;
}

label > span{
    font-size: var(--button);
    font-weight: 400;
}

label > input {
    background-color: var(--background);
    border-style: none;
    border-radius: 7px;
}

input#mensaje {
    height: 15vh;
    width: 70vw;
    margin: 1.5rem 0.6rem;
    color: white;
}

input#correo {
    height: 2rem;
    margin: 1.5rem 0.6rem;
    width: 50vw;
    color: white;
    padding: 0.5rem;
}

input#enviar {
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
}

.aboutme a {
    color: white;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2rem;
}

.aboutme a i {
    font-size: 5.5rem;
}

.about-me-content {
    display: none;
    flex-direction: column;
    padding: 6rem 2rem 1rem;
    font-family: var(--second-font);
    background-color: var(--first-color);
    color: white;
}

section.openaboutme {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem 1rem;
    font-family: var(--second-font);
    background-color: var(--first-color);
    color: white;
}

.aboutme p:nth-child(odd){
    font-size: var(--title);
    font-weight: bold;
}

.aboutme p:nth-child(even){
    font-size: var(--p);
    padding: 2rem 1rem;
}

/*footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--first-color);
    color: white;
    font-family: var(--second-font);
    padding-bottom: 2rem;
}

.foot p {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.contact-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
    display: block;
    margin-bottom: 1rem;
}

ul.social-list {
    text-align: center;
}

li.social-link {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 100;
}

.social-link a {
    border: 1px solid white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 0.5rem 0;
}

/*hover & activ*/

.logo:hover{
    color: gray;
}

.logo:active{
    color: rgb(61, 60, 60);
}

a.links:hover{
    background-color: var(--hover-button);
    color: gray
}

a.links:active{
    background-color: var(--hover-button);
    color: rgb(85, 84, 84)
}

.facebook:hover{
    background-color: rgb(40, 109, 177);
    border-radius: 50%;
}

.facebook:active{
    background-color: rgb(31, 80, 129);
    color: lightgray;
    border-radius: 50%;
}

.instagram:hover{
    background-color: rgb(242, 1, 67);
    border-radius: 50%;
}

.instagram:active{
    background-color: rgb(214, 2, 59);
    color: lightgray;
    border-radius: 50%;
}

.twitter:hover{
    background-color: rgb(28, 153, 230);
    border-radius: 50%;
}

.twitter:active{
    background-color: rgb(29, 135, 201);
    color: lightgray;
    border-radius: 50%;
}