@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{

}

h1{
    text-align: center;
    color: red;
}

h2{
    text-align: center;
}

img{
    padding: 0;
    margin: auto;
    display: block;
}

p{
    text-align: center;
}