@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    padding: 0;
    margin: 0;
}

:root {
    --primary_color: #06061c;
    --secondary_color: #10173e;
    --back_color: #090e37;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary_color);
    font-family: 'Poppins', sans-serif;
}

.base_color {
    color: white;
    background: var(--secondary_color);
    padding: 40px;
    margin: 20px;
    border-radius: 12px;
    width: 80vw;
}

.base_color form {
    margin: 10px 5px;
}

.inputs p{
    font-size: 20px;
}

.buttons {
    display: flex;
    width: 96%;
    justify-content: space-between;
}

.buttons p {
    background: var(--primary_color);
    margin-top: 30px;
    padding: 15px 55px;
    border-radius: 5px;
    cursor: pointer;
    border: var(--primary_color) solid 1px;
}

.buttons p:hover {
    background-color: var(--back_color);
    border: white solid 1px;
}

input {
    width: 95%;
    background: var(--primary_color);
    border: none;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

.pop-up {
    color: white;
    display: none;
    padding: 10px;
    /* display: flex; */
    flex-direction: column;
}

i.fa-solid.fa-xmark {
    padding: 15px;
    border-radius: 10px;
    width: 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

i.fa-solid.fa-xmark:hover {
    background-color: red;
}

table {
    background: var(--primary_color);
    border-radius: 10px;
    display: inline-table;
    border-collapse: collapse;
}

td {
    border-style: none;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #10194c;
    border-left: var(--primary_color) solid 3px;
    border-right: var(--primary_color) solid 3px;
}

tr:active{
    background-color: var(--back_color);
}

h4 {
    padding: 4px;
    border-bottom: white solid 1px;
}

.action {
    display: flex;
    justify-content: space-between;
}

i.fa-solid.fa-trash:hover {
    color: red;
}

tr td:last-child {
    text-align: center;
}

h2 {
    background: var(--primary_color);
    margin-top: 15px;
    padding: 12px;
    width: 10vw;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

h2:hover {
    color: red;
}

@media screen and (max-width:720px){
    .buttons p {
        padding: 8px 0px;
    }
}

/*
.buttons p {
    background: var(--primary_color);
    margin-top: 30px;
    padding: 8px 0px;
    border-radius: 5px;
    cursor: pointer;
    border: var(--primary_color) solid 1px;
}
*/

