@import '../../styles/vars.scss';
@import '../../styles/breakpoints';

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 20px;
    padding: 16px;
    border-radius: 12px;
    background-color: $secondary-color-light;

    @include shadow-light();

    p{
        font-size: $medium;
        font-family: 'Roboto Mono', monospace; 
        color: $text-light;
    }

    a{
        margin-top: 12px;
        @include btn-light();
        width: 40%;
    }

    @include media(tablet) {
        a{
            width: 100%;
        }
    }
}

body.dark .about-me{
    background-color: $secondary-color-dark;
    @include shadow-dark();

    p{
        color: $text-dark;
    }

    a{
        @include btn-dark();
    }
}